torch==2.2.2
torchvision==0.17.2
lightly==1.4.5
pandas
scikit-learn
fastapi
uvicorn
python-multipart
opencv-python
numpy
pydantic
requests
pillow
watchdog
ipykernel
opencv-python-headless  
imageio
imageio-ffmpeg